body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
header {
    top: 0;
    z-index: 1;
    width: 100%;
    height: 20vh;
    display: flex;
    position: fixed;
    background: #e03e53;
    justify-content: space-between;
}
nav {
    top: 0;
    right: 0;
    z-index: 2;
    gap: 0.5em;
    width: 70%;
    height: 95vh;
    display: flex;
    position: fixed;
    color: #e03e53;
    background: white;
    flex-direction: column;
}
nav a {
    color: inherit;
    text-decoration: none;
}
span#close {
    padding: 0.5em;
    color: #e03e53;
    font-weight: bold;
    font-size: x-large;
    align-self: flex-end;
}
p#more_eagler {
    display: none;
}
nav li {
    padding: 0.5em;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
nav li:hover {
    color: white;
    background: #e03e53;
}
#logo {
    height: auto;
    max-width: 130px;
}
.material-symbols-outlined {
    color: white;
    align-self: center;
}
span#menu {
    font-size: 2.5rem;
    margin-right: 20px;
}
img.justice_image {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}
div#overlay {
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    height: auto;
    margin: auto;
    display: flex;
    padding: 0.5em;
    color: #e03e53;
    position: absolute;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(225,225,225,0.8);
}
section.landing_section {
    top: 20vh;
    height: 75vh;
    position: absolute;
}
span.color {
    color: #e03e53;
}
div.title {
    display: flex;
    color: #aca8a6;
    padding-left: 0.5em;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 1px #aca8a6;
}
div#about_title {
    box-shadow: none;
}
img.bea-image {
    width: 80px;
    height: 80px;
    align-self: center;
}
img#eagler {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 2px #303030;
}
section#container {
    display: flex;
    min-height: 100vh;
    position: relative;
    overflow-y: scroll;
    flex-direction: column;
}
footer {
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 5vh;
    display: flex;
    padding: 0.5em;
    color: white;
    position: fixed;
    text-align: center;
    align-items: center;
    background: #e03e53;
    justify-content: center;
}
section.services {
    margin-top: 95vh;
}
section.about > img {
    width: 100%;
    object-fit: cover;
}
section.about_body,
section.contact_body {
    padding: 0.5em;
    color: white;
    background: #e03e53;
}
section.people p {
    margin-top: -10px;
}
section.contact h1,
div#specialisation h1,
section.about_body h1 {
    text-align: center;
}
span.space {
    margin-left: 10px;
}
div#specialisation {
    display: none;
}
div#specialisation,
section.people_body {
    padding: 0.5em;
}
figcaption {
    padding-top: 0.5em;
}
figcaption,
section.people h1 {
    color:#e03e53;
    text-align: center;
}
div.services_body  {
    padding-left: 0.5em;
    padding-bottom: 1em;
}
div#specialisation ul {
    list-style-type: square;
}
div#specialisation ul li::marker {
    color:#e03e53;
    font-size: xx-large;
}
button.read-more {
    border: none;
    margin: auto;
    outline: none;
    padding: 0.5em;
    display: block;
    color: white;
    border-radius: 5px;
    font-family: inherit; 
    background: #e03e53;  
}
button#about_read-more {
    color: #e03e53;
    font-weight: bold;
    background: white;
}
i.fa-solid,
section.contact_body h1 {
    color: white;
}

div.social_icons {
    margin: 0.5em;
    display: flex;
    color: #e03e53;
    font-size: x-large;
    justify-content: space-around;
}
button#read-more:hover {
    color: #e03e53;
}
dl {
    list-style: none;
}
dt,
div#specialisation p,
div#specialisation h1 {
    color: #e03e53;
    font-weight: bold;
}
dt::before {
    content: "\25A0";
    margin-right: 5px;
    font-size: x-large;
    display: inline-block;
}
@media only screen and (max-width: 480px) {
    nav {
        display: none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 600px){
    nav {
        font-size: small;
    }
}

@media only screen and (min-width: 481px){
    div#overlay h2 {
        font-size: 2rem;
    }
    div#overlay h5 {
        font-size: 1rem;
    }
    span#menu,
    span#close {
        display: none;
    }
   nav {
        top: auto;
        right: 20px;
        color: white;
        align-self: center; 
        width: fit-content;
        flex-direction: row;
        height: fit-content;
        background: #e03e53;
        justify-content: space-between;    
    }
    nav li:hover {
        color: #e03e53;
        background: rgba(225,225,225,0.7);
    }
}

@media only screen and (min-width: 600px){
    body {
        font-size: 18px;
    }
    nav li {
        font-size: 16px;
    }
    #logo {
        max-width: 150px;
    }
    div#services_title { 
        justify-content: space-around;
    }
    section.landing_section {
        width: 100%;
        display: flex;
    }
    div#overlay {
        height: 100%;
        display: flex;
        padding: 1em;
        color: #e03e53;
        position: static;
        width: fit-content; 
        text-align: center;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(225,225,225,0.8);
    }
    img.justice_image {
        width: 100%;
        height: 100%;
        display: block;
        max-width: 100%;
        object-fit: cover;
    }
    div.services_body  {
        gap: 0.5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    div.services_body dl {
        width: 45%;
    }
}
@media only screen and (min-width: 992px){
    div#overlay h2 {
        font-size: 2.5rem;
    }
    div#overlay h5 {
        font-size: 1.5rem;
    }
    div.services_body dl {
        width: 30%;
    }
}
