* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
header {
    top: 0;
    z-index: 1;
    gap: 0.5em;
    width: 100%;
    height: 15vh;
    display: flex;
    position: fixed;
    background: white;
    align-items: center;
    padding-right: 10px;
    justify-content: space-between;
}
span#name-container {
    gap: 0.5em;
    display: flex;
}
span#name {
    color:#DF3E53;
    font-size: 16px;
    font-weight: bold;
    align-self: center;
    letter-spacing: 0.03em;
}
nav {
    top: 0;
    right: 0;
    z-index: 2;
    gap: 0.5em;
    width: 70%;
    height: 95vh;
    display: flex;
    position: fixed;
    font-weight: 300;
    background: white;
    flex-direction: column;
}
nav a {
    color: #DF3E53;
    text-decoration: none;
}
span#close {
    padding: 0.5em;
    color: #DF3E53;
    font-weight: bold;
    font-size: x-large;
    align-self: flex-end;
}
p#more_eagler {
    display: none;
}
nav a {
    padding: 0.5em;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
#logo {
    width: 60px;
    height: 60px;
    display: block;
}
span#menu {
    font-size: 2.5rem;
}
.material-symbols-outlined {
    color: white;
    align-self: center;
}
span#menu {
    color: #DF3E53;
}
img.justice_image {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}
div.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    background: rgba(223,62,83,0.6);
}
div.overlay h1 {
    margin: auto;
    padding: 0.5em;
    color: white;
    font-size: 2rem;
    align-self: center;
    
}
section.landing_section {
    top: 15vh;
    width: 100%;
    height: 80vh;
    position: absolute;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url('img/background1.jpg');
}
span.color {
    color: #DF3E53;
}
div.title {
    display: flex;
    font-size: 20px;
    padding-left: 0.5em;
    background: #eaf4f6;
    justify-content: space-between;
}
section.people {
    display: flex;
    flex-direction: column;
}
section.about_body h1,
section.people_body h1 {
    font-size: x-large;
    text-align: center;
}
section.about_body h2 {
    font-size: large;
}
img.bea-image {
    width: 130px;
    height: auto;
    align-self: center;
}
img#eagler {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 2px #7c7c7c;
}
footer {
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 5vh;
    display: flex;
    padding: 0.5em;
    color: white;
    position: fixed;
    font-size: small;
    text-align: center;
    align-items: center;
    background: #DF3E53;
    justify-content: center;
}
section.services {
    margin-top: 95vh;
}
div.breaker {
    display: flex;
    justify-content: center;
}
div.breaker > img {
    width: 100%;
    object-fit: cover;
}
p#quote {
    padding: 0.5em;
    color: #DF3E53;
    font-style: italic;
    position: absolute;
    align-self: center;
    text-align: center;
    background: rgba(225,225,225,0.7);    
}
div.about_body-content {
    margin: auto;
    max-width: 1024px;
}
section.about_body {
    padding: 1em;
    color: white;
    background: #DF3E53;
}
section.people p {
    margin-top: -10px;
}
h1#specialisation_title {
    text-align: center;
}
h1#specialisation_title {
    display: none;
    color: #DF3E53;
}
span.space {
    margin-left: 10px;
}
div#specialisation {
    margin: auto;
    display: none;
}
figure  {
    margin: 0;
    width: 100%;
    display: flex;
    background: #eaf4f6;
    align-items: center;
    justify-content: center;
}
figure,
div#specialisation,
section.people_body {
    padding: 1em;
}
section.people_body {
    max-width: 800px;
}
figcaption {
    padding: 1em;
    color:#DF3E53;
}
figure,
figcaption {
    text-align: center;
}
div#specialisation > p {
    color:#e2707f;
}
div.services_body  {
    padding-left: 0.5em;
    padding-bottom: 1em;
}
div#specialisation ul {
    list-style-type: disc;
}
div#specialisation ul li::marker {
    color:#e2707f;
    font-size: large;
}
button.read-more {
    border: none;
    margin: auto;
    outline: none;
    padding: 0.5em;
    display: block;
    color: white;
    border-radius: 5px;
    font-family: inherit; 
    background: #DF3E53;  
}
button#about_read-more {
    color: #DF3E53;
    font-weight: bold;
    background: white;
}
i.fa-solid {
    color: #DF3E53;
}
i.fa-solid {
    font-size: medium;
}
div.cover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    background: rgba(224,65,85,0.5);
}
button#read-more:hover {
    color: #DF3E53;
}
dt,
div#specialisation p,
div#specialisation h1 {
    color: #DF3E53;
    font-weight: bold;
}
dt::before {
    content: "\25A0";
    margin-right:20px;
    font-size: xx-large;
    display: inline-block;
}
section.contact_body {
    text-align: center;
}
section.contact_body h1 {
    margin-top: 0;
    font-size: 30px;
    color: #DF3E53;
}
section.contact_body {
    padding: 1em;
    background: rgba(223,62,83,0.2);
}
form {
    padding: 1em;
}
form p,
div.contact_icons {
    color: #6d2b34; 
}
div.contact_icons p {
    font-weight: bold;
}
div.people_content {
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;
}
div.services_body dl {
    padding-left: 0.7em;
    padding-right: 0.5em;
}
section.people_body h1 {
    color: #DF3E53;
}
section.contact {
    margin: 0;
    padding: 0;
    background: #d8d7d3;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('img/news.jpg');
}
textarea,
input[type="text"],
input[type="email"],
input[type="submit"]{
    width: 100%;
    outline: none;
    padding: 0.5em;
    margin-bottom: 5px;
    font-family: inherit;
    border: 1px solid #e2707f;
}
input[type="submit"] {
    color: white;
    font-weight: bold;
    cursor: not-allowed;
    background: #DF3E53;
}
div.services_body {
    width: 100%;
    padding: 0;
    display: flex;
    padding-top: 1em;
    flex-direction: column;
}

/* media queries */
@media only screen and (min-width: 481px){
    div.overlay h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 599px) {
    nav {
        display: none;
    }
}

@media only screen and (min-width: 600px){
    span#name-container {
        max-width: 40%;
    }
    button#more-services {
        margin-bottom: 1em;
    }
    span#menu,
    span#close {
        display: none;
    }
    nav {
        top: auto;
        right: 20px;
        font-size: small;
        align-self: center; 
        width: fit-content;
        flex-direction: row;
        height: fit-content;
        justify-content: space-around;    
    }
    nav a {
        color: black;
        font-weight: 300;
    }
    nav a:hover {
        color: #DF3E53;
    }
    #logo {
        max-width: 150px;
    }
    div#services_title { 
        justify-content: space-around;
    }
    header {
        gap: 0.5em;
        justify-content: space-between;
    }
    div.overlay {
        padding: 1em;
        width: 40%;
    }
    img.justice_image {
        width: 100%;
        height: 100%;
        display: block;
        max-width: 100%;
        object-fit: cover;
    }
    div.services_body {
        width: 60%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    div.title {
        width: 40%;
        padding-top: 1em;
        justify-content: center; 
    }
    div.specific,
    div.services_body dl {
        min-width: 45%;
    } 
    section.contact,
    section.services {
        display: flex;
    }
    section.contact_body {
        flex: 1;
    }
    form {
        max-width: 50%;
        margin-bottom: 2.5em;
    }
    figure {
        max-width: 50%;
    }
    section.people_body {
        flex: 1;
        max-width: 50%;
    }
    section.people {
        flex-direction: row-reverse;
    } 
    div#specialisation {
        width: 60%;
    }
    section.landing_section {
        background-image: url('img/background2.jpg');
    }
    figure  {
        align-items:flex-start;
    }
}
@media only screen and (min-width: 800px){
    div.people_content {
        flex-direction: row;
    }
    section.people_body {
        padding-left: 2.5em;
        padding-right: 2.5em;
    } 
    div.people_content {
       justify-content: space-around;
    }
}
@media only screen and (min-width: 992px){
    body {
        font-size: large;
    }
    div.specific,
    div.services_body dl {
        width: 45%;
    } 
    button {
        font-size: large;
    }
    div.overlay h1 {
        font-size: 3rem;
    }

    div.title {
        padding-left: 1em;
    }
    nav,
    footer {
        font-size: large;
    }
    textarea,
    input[type="text"],
    input[type="email"],
    input[type="submit"]{
        font-size: large;
    }
    div#specialisation h1 {
        font-size: xx-large;
    }  
}
